name: Deploy Documentation

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - ./.github/workflows/docs.yaml
      - pyproject.toml
      - poetry.lock
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  id-token: write
  pages: write

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: pip
          cache-dependency-path: |
              pyproject.toml
              poetry.lock

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install Project
        run: |
          poetry install --no-interaction
          poetry run pip install -U setuptools

      - name: Build documentation config
        run: make docs

      - name: Setup brownie networks
        run: |
          poetry run brownie networks modify mainnet host=${{ secrets.WEB3_PROVIDER }}
        continue-on-error: true

      - name: Build documentation
        env:
          BROWNIE_NETWORK_ID: mainnet
          ETHERSCAN_TOKEN: ${{ secrets.ETHERSCAN_TOKEN }}
        run: |
          cd docs
          make html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # Upload entire repository
          path: '.'

  deploy-docs:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    needs: build-docs
    runs-on: ubuntu-latest
    environment:
      name: github-pages
    steps:
      - name: Checkout gh-pages
        uses: actions/checkout@v5
        with:
          ref: gh-pages
          persist-credentials: false

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: github-pages
          path: '.'

      - name: Deploy to GitHub Pages (peaceiris)
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html

      - name: Deploy to GitHub Pages (official)
        id: deployment
        uses: actions/deploy-pages@v4
